site_name: Another Sky☁︎
site_url: http://mollyxmn.gitlab.io/mollyBlog
site_author: Molly Xue
copyright: Copyright &copy; 2025 - present Molly Xue
theme:
  name: material
  custom_dir: docs/overrides
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: cyan
      accent: deep purple
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: cyan 
      accent: deep purple
  favicon: assets/seed.png
  icon:
    logo: logo
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    # - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
extra_css:
  - stylesheets/extra.css
  - stylesheets/chat-bot.css
markdown_extensions:
  - attr_list
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - footnotes
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.blocks.caption
extra_javascript:
  - https://open.spotify.com/embed/iframe-api/v1
  - javascript/music.js
  - javascript/chat-bot.js
plugins:
  - search
  # - blog:
  #     pagination_per_page: 5
  - meta
  - tags
  # - mkdocs-audio
  - git-authors:
      show_contribution: false
      show_email_address: true
      href: "mailto:{email}"
      sort_authors_by: name
      exclude:
          - index.md
      strict: true
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom
      background: white
      shadow: true
      manual: false
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          default: true
          name: English
          build: true
        - locale: zh
          name: Chinese
          build: true
          site_name: "另一片天空☁︎"
          site_description: "Description Chinese" 
          theme:
            palette:
              # Palette toggle for light mode
              - media: "(prefers-color-scheme: light)"
                primary: red
                scheme: default
              # Palette toggle for dark mode
              - media: "(prefers-color-scheme: dark)"
                primary: pink
                scheme: slate
  - social:
  #     cards_color:
  #       fill: red
  #       text: "#FFFFFF"
      cards_layout_options:
        logo: docs/assets/seed.png
        font_family: Noto Sans SC
        background_image: docs/assets/socialCard/socialCard.jpeg
        background_color: "#0000004f"
      

extra:
  generator: false